body {
    margin: 10px;
}

p {
    color: orange;
}

a[target] {
    color: aqua;
}

article p:first-of-type {
    font-size: 140%;
    font-style: italic;
}

article :last-child {
    font-weight: bold;
}

ul li:nth-child(odd) {
    color: deeppink;
}

a:visited,
a:link {
    color: dodgerblue;
}

a:hover,
a:focus {
    color: deeppink;
}