body {
    margin: 10px;
}

p.css {
    color: orange;
}

a[target] {
    color: aqua;
}

article p:first-of-type {
    font-size: 140%;
    font-style: italic;
}

article :last-child {
    font-weight: bold;
}

ul li:nth-child(odd) {
    color: deeppink;
}

a:visited,
a:link {
    color: dodgerblue;
}

a:hover,
a:focus {
    color: deeppink;
}

.pseudo::first-letter {
    font-size: 140%;
    font-weight: bold;
}

.pseudo::selection {
    background-color: purple;
}

.pseudo::before {
    content: '...';
}

.note {
    border: 2px dotted grey;
    display: inline-block;
}